<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>SITIO WEB DE JUEGOS</title>

    <!--Se normaliza la anchura del dispositivo para poder usar porcentajes y se configura a 1.0 el zoom al cargar-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Estilo base: style.css-->
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <!--CARGA CONDICIONAL DE ESTILOS DEPENDIENDO DE LOS ANCHOS DE PANTALLA-->

    <!--Estilo estrecho: style.css + wide.css-->
    <link
      rel="stylesheet"
      type="text/css"
      media="only screen and (min-width: 800px) and (min-device-width: 600px)"
      href="/stylesheets/wide.css"
    />

    <!--Estilo estrecho: style.css + smartphone.css-->
    <link
      rel="stylesheet"
      type="text/css"
      media="only screen and (max-width: 480px)"
      href="/stylesheets/smartphone.css"
    />

    <!--Se carga el estilo por defecto de cookieconsent-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css">

  </head>
  <body>

    <div id="page">

      <header class="main" id="mainHeader">
        <!--Inicio de sesion-->
        <div class="right">
          <!--Si no existe la variable indica que no hay sesion de login y se habilita el enlace de inicio de sesion-->
          <% if (!locals.usuarioLogueado) { %>
            <a href="/loguear">Iniciar Sesión</a>
          <% }
          <!--Sino se muestra la informacion del usuario logueado y dos enlaces para ver su perfil y cerrar sesion-->
          else { %>
            <!--Muestra al usuario autenticado con su displayNombre para que muestre si la cuenta es local o externa-->
            <a href="/usuarios/<%= usuarioLogueado.id %>"><%= usuarioLogueado.displayNombre %></a>
            <!--Boton de destruir la sesion-->
            <a href="/loguear?_method=DELETE">Cerrar Sesión</a>
          <% } %>
        </div>

        <h1><span class="no-narrow">Sitio Web de </span>Juegos</h1>

      </header>

      <nav class="main" id="mainNav" role="navigation">
        <a href="/">Inicio</a>
        <a href="/autor">Autor</a>
        <a href="/juegos">Juegos</a>
        <a href="/usuarios">Usuarios</a>
        <a href="/juegos/randomplay">Jugar</a>
      </nav>

      <section class="main" id="mainSection">

        <!--Se hace uso de las variables que puedan existir en el objeto 'messages' que seran el contenido de los 
          mensajes flash-->
        <% if (messages.info) { %>
          <article id="flashinfo">
            <h3>Información de interés:</h3>
            <ul>
              <% for (var i in messages.info) { %>
                <li> <%= messages.info[i] %> </li>
              <% } %>
            </ul>
          </article>
        <% } %>

        <% if (messages.exito) { %>
          <article id="flashsuccess">
            <h3>Tarea completada exitosamente:</h3>
            <ul>
              <% for (var i in messages.exito) { %>
                <li> <%= messages.exito[i] %> </li>
              <% } %>
            </ul>
          </article>
        <% } %>

        <% if (messages.error) { %>
          <article id="flasherror">
            <h3>Error:</h3>
            <ul>
              <% for (var i in messages.error) { %>
                <li> <%= messages.error[i] %> </li>
              <% } %>
            </ul>
          </article>
        <% } %>
        
          
        <!--Se hace uso de la variable 'body' que sera el contenido de la vista en particular-->
        <%- body %>

        <!--Si existe la variable res.locals.control_paginacion, se muestra su contenido que sera el codigo HTML generado-->
        <% if (locals.control_paginacion) { %>
          <%- control_paginacion %>
        <% } %>

      </section>

      <footer class="main" id="mainFooter">
        <a href="https://github.com/sauliyo15/quizfullstack2023" target="_blank"
          >Código fuente Github</a
        >
      </footer>

    </div>

  </body>
  <!--Se carga el script de cookieconsent y se inicializa parametrizando aspectos visuales en palette y su contenido en content-->
  <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
  <script>
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#252e39"
        },
        "button": {
          "background": "#14a7d0"
        }
      },
      "content": {
        "message": "Este sitio web utiliza cookies para garantizar que obtenga la mejor experiencia en nuestro sitio.",
        "dismiss": "Aceptar",
        "link": "Más información",
        "href": "https://policies.google.com/technologies/cookies?hl=es"
    }
    });
  </script>

</html>
