<h1>Juegos</h1>

<!--Formulario que incluye un cajetin de busqueda para encontrar juegos-->
<div class="right">
    <form action="/juegos" method="get">
        <input type="text" name="busqueda" value="<%= locals.busqueda || '' %>" placeholder="Busca un juego" autocomplete="off">
        <input type="submit" value="Buscar">
    </form>
</div>

<table>
    <!--Con la variable (array) recibida juegos se itera con codigo javascript incrustado en HTML-->

    <!--Aunque prohibimos por medio de los controladores el acceso al visionado, edicion o borrado de juegos, sino se esta logueado, lo controlamos 
          tambien aqui comprobando que existe o o usuarioLogueado-->

    <% for (var i in juegos) { %>
        <% var juego = juegos[i]; %>
        <tr>
            <td>
                <a href="/juegos/<%= juego.id %>/play"><%= juego.pregunta %></a>
            </td>
            <% if (locals.usuarioLogueado) { %>
                <td>
                    <a href="/juegos/<%= juego.id %>" class="button">Ver</a>
                </td>
                <td>
                    <a href="/juegos/<%= juego.id %>/edit" class="button">Editar</a>
                </td>
                <td>
                    <a href="/juegos/<%= juego.id %>?_method=DELETE"
                        onclick="return confirm('¿Borrar juego <%= juego.pregunta %>?');"
                        class="button">Borrar</a>
                </td>
            <% } %>
        </tr>
    <% } %>
    
    
</table>

<% if (locals.usuarioLogueado) { %>
    <a href="/juegos/new" class="button">Añadir Juego</a>
<% } %>