<h1>Jugar a un Grupo: <%= grupo.nombre %></h1>

<div>Respuestas correctas: <span id="score"><%= puntuacion %></span></div>

<form method="get" action="/grupos/<%= grupo.id %>/randomcheck/<%= juego.id %>">

    <table>
        <tr>
            <td>
                <p>Pregunta: <b><%= juego.pregunta %></b></p>
            </td>
            <td>
              <img src="<%= juego.imagen || '/images/imagen_no_disponible.png' %>" alt="Imagen del juego" style="width: 200px; height: 150px;">
            </td>
        </tr>
      </table>

    <div class="wideRow">
        <input type="text" class="itemWide" id="answer" name="respuesta" value="" placeholder="Respuesta" autocomplete="off"/>
        <input type="submit" class="itemNarrow" id="send" value="Comprobar">
    </div>
</form>